*/exp_v01/*
06_codeql_database/*

04_program_under_study/*.tar.gz
04_program_under_study/exp_v01_program_dataset.csv

demo_dataset_output/*
demo_dataset/*

zenodo/*

datasets/tmp_test_db/*
datasets/exp_v*/*